[submodule "user-service"]
	path = user-service
	url = git@github.com:harsh-1806/user-service-hrs.git
[submodule "hotel-service"]
	path = hotel-service
	url = git@github.com:harsh-1806/hotel-service-hrs.git
[submodule "hotel-rating-system"]
	path = hotel-rating-system
	url = git@github.com:harsh-1806/hotel-rating-system.git
