[submodule "user-service"]
	path = user-service
	url = git@github.com:harsh-1806/user-service-hrs.git
[submodule "hotel-service"]
	path = hotel-service
	url = git@github.com:harsh-1806/hotel-service-hrs.git
[submodule "rating-service"]
	path = rating service
	url = git@github.com:harsh-1806/rating-service-hrs.git

